.page {
    /* border: solid 1px #40ff00; */
    display: flex;
    /* height: 1000px; */
    margin-bottom: 4em;
}

.areaTextContainer {
    /* border: solid 1px #00c3ff; */
    width: 70%;
}

/* -------------menu ezquierda----- */

.menuIzq {
    /* border: solid 1px red; */
    width: 30%;
    height: auto;
    margin-top: 2em;
}

.dropdown-toggle {
    white-space: nowrap;
    display: none;
}

.menuTitle {
    /* border: solid 1px #00ff40; */
    margin: 1em;
    padding: 0.3em;
    list-style: none;
    padding-left: 1.5em;
    font-weight: 600;
    color: #434242;
    border-bottom: #a2a1a1 solid 2px;
}

.menuIzq>.navLink li {
    /* border: solid 1px #00ff40; */
    margin: 1em;
    padding: 0.3em;
    list-style: none;
    padding-left: 1.5em;
}

.navLink li:hover {
    background-color: #656565;
    color: #fff;
}

.navLink {
    color: #000;
}

.navLink:hover {
    text-decoration: none;
}

.publicaciones {
    width: 20%;
    height: auto;
    margin-top: 2em;
    text-align: center;
}

/* -------headerAreas ------------- */

.headerAreas {
    /* border: solid 1px; */
    width: 60%;
    margin-top: 2em;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerAreas * {
    /* border: solid 1px; */
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.cargo {
    color: rgb(165, 165, 165);
}

.subtitle {
    width: 70%;
    align-self: center;
    text-align: center;
    color: rgb(108, 108, 108);
    border-bottom: solid 2px #a2a1a1;
}

/* ----contenido------------- */

.contenido {
    /* border: solid 1px green; */
    width: 65%;
    text-align: justify;
    margin-left: 2em;
    margin-top: 2em;
    ;
}

/* ---------equipo--------- */

.headerEquipo {
    /* border: solid 1px; */
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
}

.headerEquipo>h2 {
    padding-left: 2em;
    font-weight: 600;
}

.headerEquipo>h2 p {
    color: #656565;
}

.abogado {
    border-bottom: solid 1px;
    align-self: center;
}

.abogado>p {
    font-weight: 600;
}

.abogado>a, .abogado>a:hover {
    color: #13a4e7;
    text-decoration: none;
}

.equipoCategorias {
    /* border: solid 1px red; */
    margin-top: 4em;
    margin-left: 4em;
}

.equipoCategorias * {
    width: 500px;
}

.tituloBadge {
    font-size: 15px;
    font-weight: 600;
}

/* ----------Boletines-------- */

.badgePublic {
    /* border: solid; */
    width: 90%;
    height: 10em;
    display: flex;
    margin-top: 2px;
}

.izqBadge {
    clip-path: polygon(100% 0%, 90% 100%, 0% 100%, 0% 0%);
    background-color: rgb(148, 148, 148);
    width: 70%;
    /* height: 18px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

.izqBadge>h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 600;
}

.izqBadge>article p {
    font-size: 1.5em
}

.derBadge {
    width: 40%;
    height: 100%;
    /* background: rebeccapurple; */
    border-bottom: solid 2px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1em;
    padding-right: 2em;
}

.derBadge>a img {
    width: 2em;
}