/* -----------Logo Home -------------- */
.contenedorLogoHome{
    /* border: solid 1px green; */
    display: flex;
    justify-content: center;
}

.logoTuranzasHome{
    /* border: solid 1px red; */
    width: 18em;
    height: 7em;
    margin-top: 2em;
}

/* ---------------lista Home------------ */

.listaHome{
    /* border: solid 1px orange; */
    height: 58vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaHome > ul {
    /* border: solid 1px #00ff4c; */
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.listaHome > ul li {
    /* border: solid 1px #00a6ff; */
    width: auto;
    transform: rotate(270deg);
    font-size: 2.5em;
    transition: 1s all ease;
    display: flex;justify-content: center;
    align-items: center;

}

.listaHome > ul li:hover{
    /* border: solid 1px #00a6ff; */
    transform: rotate(0deg);
    font-size: 3em;
}

.listaHome > ul li a {
    color: #4b4b4b;
}

.listaHome > ul li a:hover{
    text-decoration: none;
    color: #AE1E29;
}
