@font-face {
  font-family: Josefin;
  src: url(../assets/JosefinSans-Regular.ttf)
}

body, li, a {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin', sans-serif;
  font-weight: lighter;
  color: #454545;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
  font-size: 17px;
}


.title>h2 {
  /* border: solid 1px; */
  display: flex;
  justify-content: center;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 800;
  font-size: -webkit-xxx-large;
}

@keyframes subtitleAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: rotate(xx) translateX(0);
  }
}

.subtitle, .responsable {
  animation: subtitleAnimation 0.5s forwards 0s linear;
}

@keyframes contenidoAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: rotate(xx) translateY(0);
  }
}

.contenido {
  animation: contenidoAnimation 0.5s forwards 0s ease-in;
}

.homeRespo{
  width: 60%;
}

@media only screen and (max-width: 600px) {
  /* --------home----------- */
  p {
    font-size: 15px ;
  }
  .navItem{
    width: 100%;
    text-align: center;
    font-size: 1.5em !important;
}
  .contenedorLogoHome {
    /* border: solid 1px green; */
    display: none !important;
  }
  .logoNav img {
    width: 12em !important;
    margin-top: 0.3em;
    display: initial;
  }
  .listaHome {
    height: 70vh !important;
  }
  .listaHome>ul {
    /* border: solid 1px #00ff4c; */
    flex-direction: column;
    height: 85% !important;
    padding: 0;
  }
  .listaHome>ul li {
    /* border: solid 1px #00a6ff; */
    transform: rotate(0) !important;
  }
  .listaHome>ul li a {
    font-size: 30px;
  }
  .imgOficinaHome {
    height: 360px !important;
}
.imgOficinaHome > img{
    height: 360px !important;    
}
  /* ------------ofice------- */
  .oficeContainer {
    margin-top: 1em;
  }
  .oficeCenterContainer {
    /* border: solid 1px; */
    /* height: 585px !important; */
    flex-direction: column;
  }
  .oficeImg {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin: 2em 0;
  }
  .oficeImg img {
    /* border: solid; */
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin: 2em 0;
  }
  .oficeDirection {
    align-items: center;
    width: 100% !important;
    justify-content: center;
    padding: 0 !important;
    text-align: center;
  }
  /* --------firma---------------- */
  .parrafosFirma>article {
    width: 86% !important;
  }
  .librosUp {
    /* border: solid 1px #2fffe3; */
    width: 70% !important;
  }
  .librosDown {
    /* border: solid 1px #ffbd2f; */
    width: 65% !important;
    flex-direction: column;
  }
  /* ------areas----------- */
  .subtitle {
    width: 70% !important;
    align-self: center;
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
  /* -------Equipo---------------- */
  .homeRespo{
    width: 100%;
  }
  .page {
    /* border: solid 1px #40ff00; */
    display: flex;
    /* height: 3200px !important; */
    margin-bottom: 4em;
    flex-direction: column !important;
  }
  .menuIzq {
    /* border: solid 1px red; */
    width: 100% !important;
    height: auto;
    margin-top: 2em;
    margin: 0 !important;
    padding-left: -40px !important;
    padding: 0 !important;
    /* text-align: center !important; */
    display: none;
  }
  .dropdown {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .dropdown-toggle {
    white-space: nowrap;
    display: initial !important;
  }
  .menuIzqResponsive>.navLink li {
    /* border: solid 1px #00ff40; */
    margin: 1em;
    padding: 0.3em;
    list-style: none;
    padding-left: 1.5em;
  }
  .headerEquipo>h2 {
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .equipoCategorias {
    /* border: solid 1px red; */
    margin-top: 3em;
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .abogado>p {
    font-size: 80%;
  }
  .abogado>a, .abogado>a:hover {
    font-size: 70%;
  }
  .areaTextContainer {
    /* border: solid 1px #00c3ff; */
    width: 100% !important;
    padding: 2em;
    text-align: justify;
  }
  .headerAreas {
    /* border: solid 1px; */
    width: 100% !important;
    height: 12% !important;
    flex-direction: column;
  }
  .contenido {
    /* border: solid 1px green; */
    width: 80% !important;
  }
  .equipoCategorias * {
    width: 90% !important;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
  }
  .abogado>p {
    /* border: solid; */
    display: flex;
    justify-content: center;
  }
  /* -------publicaciones -------- */
  .badgePublic {
    width: 100% !important;
  }
  .izqBadge {
    width: 100% !important;
    padding: 1em;
  }
  .publicaciones {
    width: 80% !important;
    padding-left: 0 !important;
  }
  /* --------------footer----- */
  .infoGroup {
    /* border: solid 1px; */
    flex-direction: column;
  }
  .rightsContainer {
    width: 100% !important;
    height: auto !important;
    /* border: solid 1px; */
    font-size: 13px;
  }
  .designContainer {
    width: 100% !important;
    height: auto !important;
    /* border: solid 1px; */
    flex-direction: column;
    align-items: center !important;
    font-size: 13px;
  }
  .linkedinContainer {
    height: 70px !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important
  }
}